<h1>Lookup a Podcast in itunes</h1>

<%= render 'form' %>
</br>
<% if @actual_data %>
	<table>
  		<thead>
		    <tr>
		      <th></th>		      
		      <th>Podcast Name</th>
		      <th>Artist Name</th>
		      <th>Feed</th>
		      <th colspan="3"></th>
		    </tr>
  		</thead>
  		<tbody>
  			<% artist_name = @actual_data[:artistName] %>
  			<% collection_name = @actual_data[:collectionName] %> 
  			<% feed_url = @actual_data[:feedUrl] %>

  			<tr>
  				<td><%= image_tag(@podcast[:image_url]) %></td>
  				<td><%= @podcast[:name] %></td>
  				<td><%= @podcast[:host] %></td>
  				<td><%= @podcast[:feed] %></td>
  				<td><%= link_to "Create Podcast", podcasts_path(:hhh => @podcast[:host], :name => @podcast[:name], :feed => @podcast[:feed]), :method => :post %> </td>
  			</tr> 				
  			
  		</tbody>
	
	</table>
	
<% end %>

