<h2> <%= @star.name %> Podcasts </h2><br/>

<table>
  <thead>
    <tr>  <th>    </th>
          <th>    </th>
          <th>Date: </th>
          <th>Podcast Name: </th>
          <th>Episode Title: </th>
          <th>Description: </th>
          <th colspan="3"></th>
      </tr>
  </thead>

  <tbody>
    <% @display_episodes.each do |ep| %>
        <td> Remove Episode from Display </td>
        <% if Podcast.find(ep.podcast_id).image_url != nil %>
          <td><%= link_to (image_tag(Podcast.find(ep.podcast_id).image_url, :size => "75x75")), podcast_path(ep.podcast_id) %> </td>
          <% else %>
          <td></td>
        <% end %>
        <td><%= ep.release_date  %></td>
        <td><%= Podcast.find(ep.podcast_id).name %></td>
        <td><%= ep.title %></td>
        <td><%= ep.description.truncate(500) %></td>        
      </tr>
    <% end %>
  </tbody>
</table>