<% if @response == nil %> <!-- If the person just gets to the URL without a search -->
 
	<h1>New Star</h1>
	<%= render 'form', star: @star %>
	<%= link_to 'Back', stars_path %>
<% elsif @response["count"] == 0 %> <!-- If the person's search for star returns no results -->
	<h1> We couldn't find anything </h1>
	<%= link_to 'Back', root_path %>
<% else %> <!-- Returning search results in this scenario. -->
	<h1> Potential Episodes for <%= @star[:name].split.map(&:capitalize)*' ' %> </h1> </br>
	<% unless @names.include?(@star.name.downcase) %>
        <%= link_to "Create Star", stars_path(star: {:name => @star[:name]}), :method => :post %> </br>
    <% end %>

	</br>
	<%= render 'ep_list' %>
<% end %>

