<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @star.name %>
</p>

<% if @star.image.exists? %>
	<p><%= image_tag @star.image.url %></p>
<% end %>

<p>
  <strong>Bio:</strong>
  <%= @star.bio %>
</p>

<p>
  <strong>Link:</strong>
  <%= @star.link %>
</p>

<%= link_to 'Edit', edit_star_path(@star) %> |
<%= link_to 'Back', stars_path %>

<br/>
<h2> <%= @star.name %> Podcast Episodes </h2><br/>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Description</th>
      <th>Star ID</th>
      <th>Pod ID</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @episodes.each do |ep| %>
      <tr>
        <td><%= ep.title %></td>
        <td><%= ep.description %></td>
        <td><%= ep.star_id %></td>
        <td><%= ep.podcast_id %></td>
        <!-- <td><%= link_to 'Show', ep %></td>
        <td><%= link_to 'Edit', edit_episode_path(ep) %></td>
        <td><%= link_to 'Destroy', ep, method: :delete, data: { confirm: 'Are you sure?' } %></td> -->
      </tr>
    <% end %>
  </tbody>
</table>