<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @star.name %>
</p>

<% if @star.image.exists? %>
	<p><%= image_tag @star.image.url(:medium) %></p>
<% end %>

<p>
  <strong>Bio:</strong>
  <%= @star.bio %>
</p>

<p>
  <strong>Link:</strong>
  <%= @star.link %>
</p>

<%= link_to 'Edit', edit_star_path(@star) %>

<br/>
<% if @episodes.exists? %>
  <%= render 'display_episodes' %>
<% end %>

</br>

<h1>All Episodes</h1>

<%= render 'added_ep_list' %>

