<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @star.name %>
</p>

<% if @star.image.exists? %>
	<p><%= image_tag @star.image.url(:medium) %></p>
<% end %>

<p>
  <strong>Bio:</strong>
  <%= @star.bio %>
</p>

<p>
  <strong>Link:</strong>
  <%= @star.link %>
</p>

<%= link_to 'Edit', edit_star_path(@star) %>

<br/>
<h2> Added <%= @star.name %> Podcasts </h2><br/>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Description</th>
      <th>Star ID</th>
      <th>Pod ID</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @episodes.each do |ep| %>
      <tr>
        <td><%= ep.title %></td>
        <td><%= ep.description %></td>
        <td><%= ep.star_id %></td>
        <td><%= ep.podcast_id %></td>
      </tr>
    <% end %>
  </tbody>
</table>

</br>

<h1>Potential Episodes</h1>

<%= render 'ep_list' %>

