<%= form_with(model: episode, local: true) do |form| %>
  <% if episode.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(episode.errors.count, "error") %> prohibited this episode from being saved:</h2>

      <ul>
      <% episode.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title, id: :episode_title %>
  </div>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_area :description, id: :episode_description %>
  </div>

  <div class="field">
       
    <%= form.hidden_field :star_id, value: @star.id %> <!-- https://stackoverflow.com/questions/3131982/how-do-i-use-hidden-field-in-a-form-for-in-ruby-on-rails -->
    <!--  <%= form.label :star_id %> -->
    <!-- <%= form.number_field :star_id, id: :episode_star_id %> -->
  </div>

  <div class="field">
    <%= form.label :podcast_id %>
    <%= form.number_field :podcast_id, id: :episode_podcast_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
