<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @podcast.name %>
</p>

<!--<% if @podcast.image.exists? %>
  <p><%= image_tag @podcast.image.url(:medium) %></p>
<% end %> -->

<p> <%= image_tag @podcast.image_url %> </p>
<p>
  <strong>Host:</strong>
  <%= @podcast.host %>
</p>

<p>
  <strong>Feed:</strong>
  <%= @podcast.feed %>
</p>

<p>
  <strong>Desctiption:</strong>
  <%= @podcast.desctiption %>
</p>

<p>
  <strong>Homepage:</strong>
  <%= @podcast.homepage %>
</p>

<%= link_to 'Edit', edit_podcast_path(@podcast) %> |
<%= link_to 'Back', podcasts_path %>
